<!-- Footer -->
<div class="wrapper mt-5">
     <footer>
        <div class="py-3">
           Developed By:  <a href="https://github.com/arvind-choudhary-1103-minorproject2" target="_blank"> Arvind Choudhary - Aditya Mishra - Girish Singla - Kshitiz Kumar</a>
         </div>
    </footer>
</div>
   
    
    <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
    
    <script src="/assets/js/popper.min.js"></script>
    
    <script src="/assets/js/bootstrap.min.js"></script>
    
    </body>
</html>